<nav class="bg-white shadow-sm py-4">
    <div class="nav__container">

        <div>
            <h1 class="text-base">Angular-Inventory</h1>
        </div>

        <ul class="nav__menu">
            <a class="nav__link" routerLink='/products' routerLinkActive="nav__link--active">
                Productos
            </a>
            <a class="nav__link" routerLink="/categories" routerLinkActive="nav__link--active" >
                Categorias
            </a>
            <a class="nav__link" routerLink='/sales' routerLinkActive="nav__link--active">
                Ventas
            </a>
        </ul>

        <div class="flex justify-end items-end">
            <button>Cerrar Sesion</button>
        </div>
    </div>
</nav>