<section class="flex items-center justify-center min-h-screen">
    <form class="login__form">
        <div>
            <h1>Iniciar Sesion</h1>
            <p class="text-sm text-gray-500  pt-0">Ingresa tus credenciales y comienza a gesitonar tu inventario</p>
        </div>
        <input placeholder="Correo electronico" type="email">

        <input placeholder="Contraseña" type="password">

        <button type="submit" class="btn bg-black text-white">Iniciar Sesion</button>
    </form>
</section>